@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #101010;
  min-height: 100vh;
  width: 100%;
}

#root {
  width: 100%;
  height: 100vh;
}
